DATABASE_URL=""
DATABASE_URL=""
CLOUDFLARE_DATABASE_ID=""
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_API_TOKEN=""
NODE_ENV=""
NEXT_PUBLIC_APP_URL=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
